body {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: auto;
}
.header {
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: 1024px;
}

.name {
  width: 70%;
}

.myName {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.obj {
  font-size: 22px;
  font-style: Georgia, "Times New Roman", Times, serif;
  border: 10px solid rgb(152, 181, 184);
  background-color: rgba(17, 184, 206, 0.3);
  padding: 5px;
  display: inline-flex;
}

.charact {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  border-left: 15px solid rgb(4, 114, 32);
  padding-left: 10px;
}

.contact {
  text-decoration: none;
  list-style: none;
  text-transform: none;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
li {
  margin: 5px;
}

.photo {
  padding: 10px;
  width: 30%;
}
h2 {
  font-size: 26px;
  font-style: Georgia, "Times New Roman", Times, serif;
}

.cont {
  display: flex;
  flex-direction: row;
}
.about {
  padding: 10px;
  width: 100%;
  font-size: 22px;
}
.lerning {
  font-size: 22px;
}
