html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1024px;
}

main {
  float: left;
  width: 65%;
  max-width: 1024px;
  font-size: 24px;
  background: #cff;
}
.toph {
  float: left;
  text-align: left;
  width: 35%;
  font-size: 24px;
  background: #dcc;
  text-align: center;
  padding: 10px;
}

.flexibal-left {
  max-width: 100%;
}

main,
.toph {
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  main,
  .toph {
    float: none;
    width: 100%;
  }
}
